.navbar {
  background-color: #32357b;
}
.contenedorInicio {
  display: flex;
  flex-direction: column;
}
.menuInicio .btn {
  background-color: #32357b;
  border: none;
  font-size: 1.5em;
  padding: 10px 0;
}
.menuInicio .btn:hover {
  background-color: #494b86;
}
.contenedorInicio img {
  width: 70%;
  margin-top: 5%;
}
.menuInicio .btn {
  width: 75%;
}
@media (max-width: 770px) {
  .contenedorInicio img {
    width: 90%;
    margin-top: 15%;
  }
  .menuInicio .btn {
    width: 80%;
  }
}
